<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
</head>
<body>

  Hello <%= $game.player_1.name %> and <%= $game.player_2.name %>!

  <%= $game.player_2.name %> HP: <%= $game.player_2.hit_points %>

  <form action="/play">
    <button type="submit" name="action" value="attack">Attack</button>
  </form>

  <% if @action == "attack" %>
  You attacked <%= $game.player_2.name %>
  <% end %>
</body>
